*{
    box-sizing:border-box;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin:15px 30px;
    font-size:19px;
    padding:10px;
    background-image:url("cafe16.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity:0.7;
    

}
.container{
    
    padding:5px 20px 15px 20px;
    border:1px solid black;
    border-radius:4px;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
select,
textarea{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:5px;
    margin:5px;
    
}
fieldset{
    background-color:#fff;
    border:1px solid #ccc;

}
.main_heading{
    text-align:center;
}
input[type="submit"] {
    background-color:rgb(119, 247, 215);
    color:white;
    padding:12px 20px;
    border:none;
    border-radius:4px;
    cursor:pointer;
    width:100%
}
input[type="submit"]:hover{
    background-color:paleturquoise;
    letter-spacing:2px;

}
nav a{
    text-decoration:none;
    color:white;
    text-align:center;
    padding:20px;
    float:left;
}
nav{
    background-color:rgb(10, 6, 6);
    overflow:hidden;
    width:100%;
    position:fixed;
}
nav a:hover{
    color:#d3ad7f;;
}
div.share{
    float:right;

}